<script src="../Common/assets/js/admin_sidebar.js"></script>
<script src="../Common/assets/js-library/jquery.mask.min.js"></script>
<ul class="sidebar-nav nav-pills nav-stacked" id="menu">
	
	<li class="has-submenu adminpaneldata displayonload">
		<a href="#"><span class="fa-stack fa-lg pull-left"></span><span>Existing Users</span></a>
	</li>
	
	<!-- <li class="has-submenu adduserdata displayonload">
		<a href="#"><span class="fa-stack fa-lg pull-left"></span><span>Add User</span></a>
	</li> -->
	
	<li class="has-submenu report displayonload">
		<a href="#"><span class="fa-stack fa-lg pull-left"></span><span>Generate Report</span></a>
	</li>
</ul>

