<!-- sidebar wrappers css for sidebar style -->
<link href="../Common/assets/css/sidebar-wrappers.css" rel="stylesheet" type="text/css">
<!--load common all styles -->
<link href="../Common/assets/css/commonall.css" rel="stylesheet" type="text/css" />
<!-- sidebar wrappers css for sidebar -->
<script src="../Common/assets/js/sidebar-wrappers.js"></script>
<script src="../Common/assets/js/mybusiness_sidebar_plan.js"></script>
<div class="page-wrappers chiller-theme toggled">
    <nav class="sidebar-wrappers">
        <div class="sidebar-content">
            <div class="sidebar-menu">
                <ul id="menu">
                    <!-- risk_profile_master nav -->
                    <li class="sidebar-dropdown " id="menuRR">
                        <a href="#" class="risk_profile_master">
                            <i class="fas fa-user-shield"></i>
                            <span>Risk Profile Master</span>
                        </a>
                        <!--<ul class="nav-pills nav-stacked nestedincome">
                     <li><a href="#" class="goaldash">Dashboard <span class="goaldash_arrow" >&#8594;</span></a></li>
                     <li><a href="#" class="inputplanning">Input <span class="goalinput_arrow" >&#8594;</span></a></li>
                     <li><a href="#" class="goalplanning">Goal Planning Report <span class="goalplanning_arrow" >&#8594;</span></a></li>
                     </ul>-->
                    </li>
                    <!-- product_recom nav -->
                    <li class="sidebar-dropdown" id="menuPR">
                        <a href="#" class="product_recom">
                            <i class="fas fa-cogs"></i>
                            <span>Product Recommendation</span></a>
                        <!--<ul class="nav-pills nav-stacked nestedincome">
                  <li><a href="#" class="goaldash">Dashboard <span class="goaldash_arrow" >&#8594;</span></a></li>
                  <li><a href="#" class="inputplanning">Input <span class="goalinput_arrow" >&#8594;</span></a></li>
                  <li><a href="#" class="goalplanning">Goal Planning Report <span class="goalplanning_arrow" >&#8594;</span></a></li>
                  </ul>-->
                    </li>
                    <!-- advisor_logo_upload nav -->
                    <li class="sidebar-dropdown" id="menuAL">
                        <a href="#" class="advisor_logo_upload" class="advisor_logo_upload">
                            <i class="fas fa-cloud-upload-alt"></i>
                            <span>Upload Advisor Logo</span></a>
                        <!--<ul class="nav-pills nav-stacked nestedincome">
                     <li><a href="#" class="goaldash">Dashboard <span class="goaldash_arrow" >&#8594;</span></a></li>
                     <li><a href="#" class="inputplanning">Input <span class="goalinput_arrow" >&#8594;</span></a></li>
                     <li><a href="#" class="goalplanning">Goal Planning Report <span class="goalplanning_arrow" >&#8594;</span></a></li>
                     </ul>-->
                    </li>
                    <!-- bseStarMF nav -->
                    <li class="sidebar-dropdown" id="menuBSEMF">
                        <a href="#" class="addactive">
                            <i class="fas fa-users"></i>
                            <span class="addactive">BSE Star MF</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul class="bseStarMF">
                                <li><a href="#" class="credentials">Login Credentials</a> </li>
                                <li><a href="#" class="masters">Upload BSE Master Files </a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- encrypted_zip_password nav -->
                    <li class="sidebar-dropdown " id="menuEZP">
                        <a href="#" class="encrypted_zip_password">
                            <i class="fas fa-file-archive"></i>
                            <span>Store Zip File Password</span>
                        </a>
                    </li>
                    <!-- <li class="has-submenu">
                  <a href="#"><span class="fa-stack fa-lg pull-left"></span><span class="bse_star_mf">BSE Star MF</span></a>
                  <ul class="nav-pills nav-stacked nestedincome">
                  	<li><a href="#" class="goaldash">Dashboard <span class="goaldash_arrow" >&#8594;</span></a></li>
                  	<li><a href="#" class="inputplanning">Input <span class="goalinput_arrow" >&#8594;</span></a></li>
                  	<li><a href="#" class="goalplanning">Goal Planning Report <span class="goalplanning_arrow" >&#8594;</span></a></li>
                  </ul>
                  </li> -->
                    <!-- <li class="has-submenu">
                  <a href="#"><span class="fa-stack fa-lg pull-left"></span><span class="upload_bse_masters">Upload BSE Client Master</span></a>
                  <ul class="nav-pills nav-stacked nestedincome">
                  	<li><a href="#" class="goaldash">Dashboard <span class="goaldash_arrow" >&#8594;</span></a></li>
                  	<li><a href="#" class="inputplanning">Input <span class="goalinput_arrow" >&#8594;</span></a></li>
                  	<li><a href="#" class="goalplanning">Goal Planning Report <span class="goalplanning_arrow" >&#8594;</span></a></li>
                  </ul>
                  </li>
                  -->
                    <!--<li class="has-submenu">
                  <a href="#" ><span class="fa-stack fa-lg pull-left"></span><span class="asset_allocation">Asset Allocation Master</span></a>
                  	<ul class="nav-pills nav-stacked nestedincome">
                  		<li><a href="#" class="goaldash">Dashboard <span class="goaldash_arrow" >&#8594;</span></a></li>
                  		<li><a href="#" class="inputplanning">Input <span class="goalinput_arrow" >&#8594;</span></a></li>
                  		<li><a href="#" class="goalplanning">Goal Planning Report <span class="goalplanning_arrow" >&#8594;</span></a></li>
                  </ul>
                  </li>-->
                    <!-- <li class="has-submenu other_masters">
                  <a href="#"><span class="fa-stack fa-lg pull-left"></span><span class="other_masters">Other Masters</span></a>
                  <ul class="nav-pills nav-stacked nestedincome">
                  	<li><a href="#" class="view_masters">View Masters<span class="view_masters_arrow">&#8594;</span></a></li>
                  	<li><a href="#" class="upload_masters">Upload Masters<span class="upload_masters_arrow">&#8594;</span></a></li>
                  </li> -->
                </ul>
                <div style="margin: 100px;"></div>
            </div>
            <!-- sidebar-menu  -->
        </div>
    </nav>
</div>
<script>
    var loggedUser = JSON.parse(sessionStorage.getItem("LOGGED_IN_USER"));
    var loggedClient;
    if (loggedUser == null) {
        loggedClient = JSON.parse(sessionStorage.getItem("LOGGED_IN_CLIENT"));
    } else {
        loggedClient = sessionStorage.getItem("LOGGED_IN_CLIENT");
    }

    if (loggedClient == null && loggedUser != null) {

        //$("#menuMAS").show();
        if (loggedUser.investView === "Y" && loggedUser.mastersView === "N") {
            $("#menuMAS").show();
            $("#menu #menuRR").hide();
            $("#menu #menuPR").hide();
            $("#menu #menuAL").hide();
            $("#menu #menuEZP").hide();
            $("#menu #menuBSEMF").show();

        } else if (loggedUser.investView === "N" && loggedUser.mastersView === "Y") {
            $("#menuMAS").show();
            $("#menu #menuRR").show();
            $("#menu #menuPR").show();
            $("#menu #menuAL").show();
            $("#menu #menuEZP").show();
            $("#menu #menuBSEMF").hide();

        }
    }


    // $('.sidebar-nav li a').click(function() {
    //     $('.sidebar-nav li .view_masters_arrow').hide();
    //     $('.sidebar-nav li .upload_masters_arrow').hide();
    //     $('.sidebar-nav li a').removeClass('activeitem');
    //     $('.sidebar-nav li').removeClass('expanded');
    //     $(this).addClass('activeitem');
    //     $(this).parent().addClass('expanded');
    //     $('.sidebar-nav li ul li').removeClass('expanded');
    //     $(this).find('.view_masters_arrow').show();
    //     $(this).find('.upload_masters_arrow').show();
    // });
</script>