<!-- sidebar wrappers css for sidebar style -->
<link href="../Common/assets/css/sidebar-wrappers.css" rel="stylesheet"
	type="text/css">
<!--load common all styles -->
<link href="../Common/assets/css/commonall.css" rel="stylesheet"
	type="text/css" />
<!-- sidebar wrappers css for sidebar -->
<script src="../Common/assets/js/sidebar-wrappers.js"></script>
<!-- <script src="../Common/assets/js/mybusiness_sidebar_mf.js"></script> -->

<div class="page-wrappers chiller-theme toggled">
	<nav class="sidebar-wrappers">
		<div class="sidebar-content">
			<div class="sidebar-menu">
				<ul id="menu">
					<!-- Upload nav -->
					<li class="sidebar-dropdown"><a href="#"> <i
							class="fa fa-upload"></i> <span class="addactive">Upload</span>
					</a>
						<div class="sidebar-submenu">
							<ul>
								<li><a href="#" class="investor">Investor Master</a></li>
								<li><a href="#" class="dailyFeeds">Daily Feeds </a></li>
								<li><a href="#" class="sipstpFeed">SIP/STP Feeds</a></li>
								<li><a href="#" class="brokerageFeed">Brokerage Feed</a></li>
								<li><a href="#" class="rdataImport">Rejection Data
										Import</a></li>
								<li><a href="#" class="aumReconciliation">AUM
										reconciliation</a></li>
								<li><a href="#" class="uploadHistory">View Upload
										Status</a></li>
							</ul>
						</div></li>
					<!-- Data Entry nav -->
					<li class="sidebar-dropdown"><a href="#"> <i
							class="fa fa-cloud"></i> <span class="activeincome">Data
								Entry</span>
					</a>
						<div class="sidebar-submenu">
							<ul class="dataEntry">
								<li><a href="#" class="clientMaster">Client Master</a></li>
								<li><a href="#" class="familyMaster">Family Master</a></li>
								<li><a href="#" class="groupfamilymember">Group Family
										Members</a></li>
								<li><a href="#" class="branchMaster">Branch Master</a></li>
								<li><a href="#" class="rmMaster">RM Master</a></li>
								<li><a href="#" class="sbMaster">Sub broker Master</a></li>
								<li><a href="#" class="faMaster">Family Attribute
										Master</a></li>
							</ul>
						</div></li>
					<!-- Reports nav -->
					<!--  <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fas fa-clipboard"></i>
                            <span>Reports</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul class="reports">
                                <li><a href="#" class="transReport">Transaction Report</a>
                                </li>
                                <li><a href="#" class="realized_Gain_Report">Realized Gain Report</a></li>
                                <li><a href="#" class="unrealized_Gain_Report">Unrealized Gain Report</a></li>
                                <li><a href="#" class="gainLoss">Gain Loss</a></li>
                                <li><a href="#" class="dividendReport">Dividend Report</a>
                                </li>
                                <li><a href="#" class="sip_stp_swpReport">SIP/STP/SWP Report</a></li>
                                <li><a href="#" class="inactive_clients">Inactive Clients</a></li>
                                <li><a href="#" class="brokerage">Brokerage Report</a></li>
                                <li><a href="#" class="aumReport">AUM Report</a></li>
                            </ul>
                        </div>
                    </li> -->
					<!-- Reports New nav -->
					<li class="sidebar-dropdown"><a href="#"> <i
							class="fas fa-clipboard"></i> <span>Client Reports</span>
					</a>
						<div class="sidebar-submenu">
							<ul class="reports">
								<li><a href="#" class="transReportNew">Transaction
										Report</a></li>
								<li><a href="#" class="portfolio_valuation_report">Portfolio
										Valuation Report</a></li>
								<li><a href="#" class="portfolio_gainloss_report">Portfolio
										Gain Loss Report</a></li>
								<li><a href="#" class="capitalGains">Capital Gains
										Report</a></li>
								<li><a href="#" class="dividendReportnew">Dividend
										Summary Report</a></li>
								<li><a href="#" class="sip_stp_swpReport">SIP/STP
										Registration Report<span class="sip_stp_swpReport_arrow">&#8594;</span>
								</a></li>
								<!-- <li><a href="#" class="inactive_clients">Inactive
										Client Report<span class="inactive_clients_arrow">&#8594;</span>
								</a></li> -->
								<!-- <li><a href="#" class="brokerage">Brokerage Report<span
										class="brokerage_arrow">&#8594;</span></a></li> -->
								<!-- <li><a href="#" class="aumReport">AUM Report<span
										class="aumReport_arrow">&#8594;</span></a></li> -->
							</ul>
						</div></li>
					<!-- configuration nav -->
					<!--  <li class="sidebar-dropdown configuration" id="configuration">
                        <a href="#">
                            <i class="fas fa-tools"></i>
                            <span class="configuration">Configuration</span>
                        </a>

                    </li> -->
					<!-- Business Reports nav -->
					<li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fas fa-clipboard"></i>
                            <span>Business Reports</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul class="reports">
                                <li><a href="#" class="aumReconciliationBusinessReport">AUM Reconciliation</a></li>
                                <li><a href="#" class="businessMISReport">Business MIS Report</a></li>
                                <li><a href="#" class="transactionSummaryReport">Transaction Summary Report</a></li>
                                <li><a href="#" class="brokerageMISBusinessReport">Brokerage MIS Report</a></li>
                                <li><a href="#" class="inactive_clients">Inactive Client Report</a></li>
                            </ul>
                        </div>
                    </li>

				</ul>
				<div style="margin: 100px;"></div>
			</div>
			<!-- sidebar-menu  -->
		</div>
	</nav>
</div>