<link href="../Common/assets/css/commonall.css" rel="stylesheet" type="text/css" />
<!-- sidebar wrappers css for sidebar style -->
<link href="../Common/assets/css/sidebar-wrappers.css" rel="stylesheet" type="text/css">

<ul class="sidebar-nav nav-pills nav-stacked" id="menu">
    <li class="has-submenu">
        <a href="#" class="margintopmin3px"><span class="fa fa-stack fa-lg pull-left" ></span><span class="accordDashboard">Dashboard</span></a>
    </li>

    <li class="has-submenu">
        <a href="#"><span class="fa-stack fa-lg pull-left"></span><span class="activeTrending">Trending
</span></a>
    </li>
    <li class="has-submenu">
        <a href="#"><span class="fa-stack fa-lg pull-left"></span><span class="NoNavData">Client Delete</span></a>
    </li>


</ul>
<div class="page-wrappers chiller-theme toggled">
    <nav id="sidebar" class="sidebar-wrappers">
        <div class="sidebar-content">
            <div class="sidebar-menu">
                <ul>
                    <!-- accordDashboard nav -->
                    <li class="sidebar-dropdown">
                        <a href="#" class="clientMonitoringDashboard">
                            <i class="fas fa-tachometer-alt"></i>
                            <span>Dashboard Client Delete</span></a>
                        </a>
                    </li>
                    <!--Trending nav -->
                    
                    
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
    </nav>
</div>
<!-- sidebar wrappers css for sidebar -->
<script src="../Common/assets/js/sidebar-wrappers.js"></script>
<script src="../Common/assets/js/mybusiness_sidebar_client_monitoring.js"></script>