<!-- sidebar wrappers css for sidebar style -->
<link href="../Common/assets/css/sidebar-wrappers.css" rel="stylesheet" type="text/css">
<!--load common all styles -->
<link href="../Common/assets/css/commonall.css" rel="stylesheet" type="text/css">

<div class="page-wrappers chiller-theme toggled">
    <nav class="sidebar-wrappers">
        <div class="sidebar-content">
            <div class="sidebar-menu">
                <ul id="menu">
                    <!-- client_contact_management nav -->
                    <li class="sidebar-dropdown ">
                        <a href="#" class="client_contact_management">
                            <i class="fa fa-upload"></i>
                            <span>Client Contact Management</span>
                        </a>
                        <!--<ul class="nav-pills nav-stacked nestedpersonalp">
                     <li><a href="#" class="budgetdash">Dashboard <span class="budgetdash_arrow" >&#8594;</span></a> </li>
                     <li><a href="#" class="budgetinput">Input <span class="budgetinput_arrow">&#8594;</span> </a></li>
                     <li><a href="#" class="budgetplanning">Budget Planning Report <span class="budgetplanning_arrow">&#8594;</span></a></li>
                     </ul>-->
                    </li>
                    <!-- client_Credentials nav -->
                    <li class="sidebar-dropdown ">
                        <a href="#" class="client_Credentials">
                            <i class="fas fa-tools"></i>
                            <span>Client Credentials</span></a>
                    </li>
                    <!-- client_Access nav -->
                    <li class="sidebar-dropdown">
                        <a href="#" class="client_Access">
                            <i class="fas fa-tools"></i>
                            <span class="">Client Access Rights</span>
                        </a>
                    </li>
                    <!-- Import/Export Client nav -->
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fas fa-tools"></i>
                            <span class="">Import/Export Client</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul class="nestedportfolio">
                                <li>
                                    <a class="import_client_records" href="#">Import Client Records</a>
                                </li>
                                <li>
                                    <a class="export_client_records" href="#">Export Client Records</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- Client Mapping Client nav -->
                    <li class="sidebar-dropdown">
                        <a href="#"><i class="fas fa-tools"></i> 
                            <span class="">Client Mapping</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul class="nestedportfolio">
                                <li>
                                    <a class="mapping_client" href="#">Client Remapping </a>
                                </li>
                                <li>
                                    <a class="mapping_bulk_upload" href="#">Bulk Upload </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div style="margin: 100px;"></div>
            </div>
            <!-- sidebar-menu  -->
        </div>
    </nav>
</div>
<!-- sidebar wrappers css for sidebar -->
<script src="../Common/assets/js/sidebar-wrappers.js">
</script>


<script src="../Common/assets/js/mybusiness_sidebar_plan.js">
</script>

<script>
    // $('.sidebar-nav li a').click(function() {
    //     $('.sidebar-nav li .pi_arrow').hide();
    //     $('.sidebar-nav li a').removeClass('activeitem');
    //     $('.sidebar-nav li').removeClass('expanded');
    //     $(this).addClass('activeitem');
    //     $(this).parent().addClass('expanded');
    //     $('.sidebar-nav li ul li').removeClass('expanded');
    //     $(this).find('.pi_arrow').show();
    // });

    // $('.sub_menu_list ul li a').click(function() {
    //     $(this).addClass('activeitem');
    //     $(this).parent().parent().parent().addClass('expanded');
    // });
</script>