<script src="../Common/assets/js/mybusiness_sidebar_exceptions.js"></script>
<ul class="sidebar-nav nav-pills nav-stacked" id="menu">
	<li class="has-submenu">
		<a href="#" class="margintopmin3px viewFinexaExceptions"><span class="fa-stack fa-lg pull-left" ></span><span class="addactive">View Finexa Exceptions</span></a>
	</li>

	<!-- <li class="has-submenu">
		<a href="#"><span class="fa-stack fa-lg pull-left"></span><span class="activeincome">Add Finexa Exceptions</span></a>
	</li> -->


</ul>