<script src="../Common/assets/js/myclient_sidebar_invest.js"></script>
<ul class="sidebar-nav nav-pills nav-stacked" id="menu">
	
	<li class="has-submenu">
		<a href="#" class="margintopmin3px"><span class="fa-stack fa-lg pull-left" ></span><span class="addactive">Client Details</span></a>
		<ul class="nav-pills nav-stacked investUcc">
			<li><a href="#" class="ucc">View/CreateUCC<span class="budgetdash_arrow" >&#8594;</span></a> </li>
			<li><a  href="#" class="download">AOF/Mandate Download<span class="budgetinput_arrow">&#8594;</span> </a></li>
			<li><a href="#" class="upload">Scanned AOF Upload<span class="budgetinput_arrow">&#8594;</span> </a></li>
			<li><a href="#" class="fatca">Update Fatca Details<span class="budgetinput_arrow">&#8594;</span> </a></li>
			<li><a href="#" class="mandate">Mandate Registration<span class="budgetinput_arrow">&#8594;</span> </a></li>
		</ul>
	</li>
	
	<li class="has-submenu">
		<a href="#" class="margintopmin3px"><span class="fa-stack fa-lg pull-left" ></span><span class="addactive">Transact</span></a>
		<ul class="nav-pills nav-stacked investtrans">
			<li><a href="#" class="lump">Lumpsum <span class="budgetdash_arrow" >&#8594;</span></a> </li>
			<li><a href="#" class="sip">SIP <span class="budgetinput_arrow">&#8594;</span> </a></li>
			<li><a href="#" class="red">Redeem <span class="budgetinput_arrow">&#8594;</span> </a></li>
			<li><a href="#" class="swt">Switch <span class="budgetinput_arrow">&#8594;</span> </a></li>
			<li><a href="#" class="stp">STP <span class="budgetinput_arrow">&#8594;</span> </a></li>
			<li><a href="#" class="swp">SWP <span class="budgetinput_arrow">&#8594;</span> </a></li>
			<li><a href="#" class="cart">Cart<span class="budgetinput_arrow">&#8594;</span> </a></li>
		</ul>
	</li>

<li class="has-submenu">
	<a href="#"><span class="fa-stack fa-lg pull-left"></span><span class="">Plan & Invest</span></a>
	<ul class="nav-pills nav-stacked nestedincome">
		<li><a href="#" class="gp">Goal Planning<span class="goaldash_arrow" >&#8594;</span></a></li>
		<li><a href="#" class="fp">Financial Planning<span class="goalinput_arrow" >&#8594;</span></a></li>
		<li><a href="#" class="pm">Portfolio Management<span class="goalinput_arrow" >&#8594;</span></a></li>
		
	</ul>
</li>


</ul>