<script src="../Common/assets/js/myclient_change_password.js"></script>
<script src="../Common/assets/js/logout.js"></script>
<link rel='stylesheet' type="text/css" href="../Common/assets/css/finexa.css"/>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div style="height: 50px; background: transparent"></div>
                <div class="col-md-1"></div>
                <div class="col-md-10" style="border: 1px solid black">
                    <div style="height: 50px; background: transparent"><span><i class="fa fa-arrow-left" id="backToClientDashBoard" style="color:#67ADE2; font-size: 20px; padding-top: 5px;"></i></span></div>
                    <form id="adviserUserPassChange" autocomplete="off">
                        <div class="form-group">
                            <label for="email">Your Email address:</label>
                            <input type="email" name="emailId" class="form-control" id="email" disabled>
                        </div>
                        <div class="form-group">
                            <label for="pwd">Enter Your Old Password:</label>
                            <input type="password" name="password" class="form-control" id="pwd" required>
                            <span id="message2"></span>
                        </div>
                        <button type="button" id="btnChangePassword" class="btn btn-info text-center" style="background-color: #67ADE2">Submit</button>
                    </form>
                    <form id="newAdviserUserPassChange" autocomplete="off">
                        <input type="hidden" name="emailId" class="form-control" id="e-email">
                        <div class="form-group">
                            <label for="pwd">Enter Your New Password:</label>
                            <input type="password" name="new_password" class="form-control" id="new_pwd" required>
                            <span id="message1"></span>
                        </div>
                        <div class="form-group">
                            <label for="pwd">Re-Enter Password:</label>
                            <input type="password" name="re_password" class="form-control" id="re_pwd" required>
                            <span id="message"></span>
                        </div>
                        <button type="button" id="btnAdviserChangePassword" class="btn btn-info text-center" style="background-color: #67ADE2">Submit</button>
                    </form>
                    <div style="height: 50px; background: transparent"></div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>