<script src="../Common/assets/js/myclient_header.js"></script>
<script src="../Common/assets/js/logout.js"></script>
<style>
	.marginwidth {
	    width: 113px;
	    margin-left: -55px;
	    padding: 5px;
	    height: 36px;
    	object-fit: contain;
	}
</style>
<div class="container">
	<div class="row">
		<div class="col-lg-12 width104per">
			<div class="col-lg-6 col-sm-6" >
				<a  href="#" ><img src="" id="idClientHeaderAdvisorLogo"  alt="" class="marginwidth"/>
				<span class="small" id="idVersion">Ver-0.1</span>
				</a>
			</div>
			<div  class="col-lg-6 padding5textrt">	<span class="margin7font18" id="idUser"></span>
				<a href="#" class="marginright7px"> 
					<span class="glyphicon glyphicon-bell"></span>
				</a>
  				<div class="btn-group" id="status" data-toggle="buttons">
		            <label class="btn btn-default btn-on btn-sm active" style="height:22px;padding-top:2px;">
		            <input type="radio" value="1" name="tgl" checked="checked">My Client</label>
 		            <label class="btn btn-default btn-off btn-sm" id="idMyBusinessLabel" style="height:22px;padding-top:2px;">
		            <input type="radio" id="idMyBusiness"value="0" name="tgl" disabled>My Business</label>
             	</div>			
 				<span id="hum" class="cursorptr"> &nbsp; &#9776;</span>
				<div id="mySidenav" class="sidenav">
					<!-- <a href="#" class="help">Help</a>
					<hr/>
					<a href="#" class="search">Search</a>
					<hr/> -->
					<a href="#" class="changePassword" id="idChangPassword">Change Password</a>
					<hr/>
					<a href="#" class="logout" onclick="logout()">Logout</a>
					<hr/>
				</div>
					<a id="idAdminPanel"style="padding-left:10px">Admin Panel</a>
			</div>
		</div>
	</div>
</div>
	
<br/>
<div class="row top-menu-container clearfix">
	<div class="col-lg-12 width104per" id="top-nav-bar">
		<div class="col-lg-2" id = "idExistingClients">
			<p id="profile"><span class="existingclient"><b>&#8592 Existing Clients</b><br/></span><span class="font18px white" id="idSelectedClientName"></span><br/></p>
		</div>
		<div  class="col-lg-12">
			<ul class="top-nav-items" style="display:none">
				<li class="nav-client-info active"><span><img src="../Common/assets/images/icons/1-B.png" alt="Client Info" id="clientimg"/></span><a>Client Info</a></li>
				<li class="separator large-width"></li>
				<li class="nav-plan" id="menuPlan"><a href="#"><span> <img src="../Common/assets/images/icons/2-B.png" alt="Plan" id="planimg"/></span></a><a class="marginleft9px">Plan</a></li>
				<li class="separator large-width"><span></span></li>
				<li class="nav-invest" id="menuInvest"><a href="#"><span> <img src="../Common/assets/images/icons/3-B.png" alt="Invest" id="Investimg"></span></a><a class="marginleft5px">Invest</a></li>
				<li class="separator large-width"><span></span></li>
				<!-- <li class="nav-review" style="pointer-events:none;opacity:0.6;"><a href="#"><span><img src="../Common/assets/images/icons/7-B.png" alt="Review" id="Reviewimg" class="Reviewimg"></span></a><a class="marginleft5px">Review</a></li>
				<li class="separator large-width"><span></span></li>
				<li class="nav-reports" style="pointer-events:none;opacity:0.6;"><a href="#"><span> <img src="../Common/assets/images/icons/4-B.png" alt="Reports" id="Reportsimg"></span></a><a class="marginleft8px">Reports</a></li>
				<li class="separator large-width"><span></span></li>
				<li class="nav-resources" style="pointer-events:none;opacity:0.6;"><a href="#"><span> <img src="../Common/assets/images/icons/5-B.png" alt="Resourceimg" id="Resourcesimg"></span></a><a>Resources</a></li> -->
			</ul>
		</div>
	</div>
</div>

<link rel="stylesheet" href="../Common/assets/css-library/toggle.css">
<script src="../Common/assets/js-library/mobilejs.js"></script>
<script>


$(document).ready(function (event) {
	$("#idVersion").text(version);
	var loggedClient;
	if(loggedUser == null){
	loggedClient = JSON.parse(sessionStorage.getItem("LOGGED_IN_CLIENT"));
	}else{
	loggedClient = sessionStorage.getItem("LOGGED_IN_CLIENT");
	}
	var loggedUser = JSON.parse(sessionStorage.getItem("LOGGED_IN_USER"));
	if (loggedClient != null && loggedUser === null) {
		$("#idUser").html("<b>Welcome </b>"+ loggedClient.name);
		$("#status").hide();
		$("#idExistingClients").hide();
		
	} else {
		if (loggedUser === null){
			window.location = "../index.html";
		}else{
			$("#idUser").html("<b>Welcome </b>"+ loggedUser.firstName + " " +loggedUser.lastName );
		}
	}
});
</script>
